<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--
# ------------------------------------------------------------------
# Name  : index.html
# Source: https://raw.githubusercontent.com/walter-rothlin/RaspberryPi4PiPlates/refs/heads/main/LN/2024/HBU_MLZ/Rothlin_Walter/templates/index.html
#
# Description: Test-Web-Page for the Sense-HAT
#
#
# Autor: Walter Rothlin
#
# History:
# 17-Dec-2024   Walter Rothlin      Initial Version
# 18-Dec-2024   Walter Rothlin      Added show_message(), set_rotation(), show_letter(), low_light()
# ------------------------------------------------------------------
-->
<title>MySensHat</title>
</head>

<body>
<H1>Index {{ version }}</H1>

<a target="_new" href="https://www.raspberrypi.org/products/raspberry-pi-4-model-b/">Raspberry Pi 4 Model B</a><br/>
<a target="_new" href="https://pythonhosted.org/sense-hat/">Sense HAT</a><br/>
<a target="_new" href="https://pythonhosted.org/sense-hat/api/">API HAT</a><br/>
<br/><br/>
<a href="/">Home</a><br/>
<h3>clear_LED</h3>
<ul>
    <li><a href="/clear_LED?color=red">Clear_LED to red</a></li>
    <li><a href="/clear_LED?color=green">Clear_LED to green</a></li>
    <li><a href="/clear_LED?color=blue">Clear_LED to blue</a></li>
    <li><a href="/clear_LED?color=white">Clear_LED to white</a></li>
    <li><a href="/clear_LED?color=black">Clear_LED to black</a></li>
    <li><a href="/clear_LED?color=grey">Clear_LED to grey</a></li>
</ul>
<br/>

<h3>set_pixel</h3>
<ul>
    <li><a href="/set_pixel?x=2&y=4&r=255&g=255&b=0">set_pixel(2,4,255,255,0) # yellow</a></li>
    <li><a href="/set_pixel?x=0&y=0&r=255&g=0&b=0">set_pixel(0,0,255,0,0) # red</a></li>
    <li><a href="/set_pixel?x=8&y=0&r=255&g=0&b=0">set_pixel(8,0,255,0,0) # ERROR: Out of range</a></li>
</ul>
<br/>

<h3>show_message</h3>
<ul>
    <li><a href="/show_message?text_string=Hallo+Walti&scroll_speed=0.05&text_colour=255,0,0&back_colour=0,0,0">show_message(Hallo Walti, 0.5, 255,0,0, 0,0,0)</a></li>  
</ul>
<br/>

<h3>get_status</h3>
<ul>
    <li><a href="/get_status">Get Sense_Hat status</a></li>
</ul>


<br/>
<h3>set_rotation</h3>
<ul>
    <li><a href="/set_rotation?r=0&redraw=True">set_rotation(0, redraw=True)</a></li>
    <li><a href="/set_rotation?r=90&redraw=True">set_rotation(90, redraw=True)</a></li>
    <li><a href="/set_rotation?r=180&redraw=True">set_rotation(180, redraw=True)</a></li>
    <li><a href="/set_rotation?r=270&redraw=True">set_rotation(270, redraw=True)</a></li>
</ul>

<br/>
<h3>show_letter</h3>
<ul>
    <li><a href="/show_letter?s=?&text_colour=(0,255,0)&back_colour=(100,100,100)">show_letter('?',text_colour=(0,255,0), back_colour=(100,100,100))</a></li>
    <li><a href="/show_letter?s=A&text_colour=(0,255,255)&back_colour=(0,0,100)">show_letter('A',text_colour=(0,255,255), back_colour=(0,0,100))</a></li>
</ul>


<br/>
<h3>low_light</h3>
<ul>
    <li><a href="/low_light?low_light_val=True">low_light=True</a></li>
    <li><a href="/low_light?low_light_val=False">low_light=False</a></li>
</ul>

</body>
</html>

