<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--
# ------------------------------------------------------------------
# Name  : test_endpoints_page.html
# Source: https://raw.githubusercontent.com/walter-rothlin/RaspberryPi4PiPlates/refs/heads/main/LN/2024/HBU_MLZ/Rothlin_Walter/templates/test_endpoints_page.html
#
# Description: Test-Web-Page for the Sense-HAT
#
#
# Autor: Walter Rothlin
#
# History:
# 18-Dec-2024   Walter Rothlin      Initial Version
# 07-Jan-2025   Walter Rothlin      Added TestForms for all functions
# ------------------------------------------------------------------
-->
<title>MySensHat</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
        body {
            background-color: #f4f4f4;
        }
        .result {
            background-color: #f9f9f9;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 4px;
            margin-bottom: 20px;
        }

        .form-container {
            margin-top: 30px;
        }

        .short-input {
            width: 80px;
        }

        .long-input {
            width: 200px;
        }
</style>

</head>

<body>
    <div class="container"">
        <a href="/" class="btn btn-primary btn-sm">Home</a>
        <h1 class="text-center my-4">Test-Endpunkte für MySense-HAT</h1>

        <!-- Result section -->
        <div class="result">
            <strong>Ergebnis:</strong> {{ test_result_string }}
        </div>

        <hr>
            

        <form action="/{{ called_end_point }}" method="get">
            {{ called_end_point }}(
            {% for key, value in parameters.items() %}
                <label for="{{ key }}">{{ key }}=</label>
                {% if key == "color" %}
                    <input type="color" id="{{ key }}" name="{{ key }}" value="{{ value }}">
                {% elif key == "text_string" %}
                    <input type="text" id="{{ key }}" name="{{ key }}" value="{{ value }}" class="long-input">
                {% else %}
                    <input type="text" id="{{ key }}" name="{{ key }}" value="{{ value }}" class="short-input">
                {% endif %}

                <!-- <input type="number" id="{{ key }}" name="{{ key }}" min="0" max="270" step="90" class="form-control"> -->
                {% if not loop.last %}, {% endif %}
            {% endfor %}
            )
            <input type="submit" value="Test">
        </form>
    </div>
</body>
</html>

