<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Endpoints</title>
</head>
<body>
    <h1>Test Result:</h1>
    <p>{{ test_result_string }}</p>
    {% if dict_format %}
        {% for key, value in dict_format.items() %}
        <li>{{ key }}: {{ value }}</li>
        {% endfor %}
        <br/><br/>
    {% endif %}
    {% if list_format %}
    <ul>
        {% for item in list_format %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if route == "clear_LED" %}
    <form action="/clear_LED" method="POST">
        <label for="dropdown">Chose a color:</label>
        <select id="dropdown" name="dropdown">
            <option value="">-- Select --</option>
            <option value="red">red</option>
            <option value="blue">blue</option>
            <option value="green">green</option>
            <option value="black">black</option>
            <option value="white">white</option>
            <option value="grey">grey</option>
        </select>
        <button type="submit">Test</button>
    </form>
    {% endif %}

    {% if route == "set_pixel" %}
    <h1>Pick a Color:</h1>

    <form action="/set_pixel" method="POST">
        <!-- Red Slider -->
        <label for="red">Red:</label>
        <input type="range" id="red" name="red" min="0" max="255" value="0" oninput="updateColorRed(this.value)">
        <span id="value-red">0</span>
        <br>

        <!-- Green Slider -->
        <label for="green">Green:</label>
        <input type="range" id="green" name="green" min="0" max="255" value="0" oninput="updateColorGreen(this.value)">
        <span id="value-green">0</span>
        <br>

        <!-- Blue Slider -->
        <label for="blue">Blue:</label>
        <input type="range" id="blue" name="blue" min="0" max="255" value="0" oninput="updateColorBlue(this.value)">
        <span id="value-blue">0</span>
        <br>

        <!-- X Slider -->
        <label for="xPos">X-Pos:</label>
        <input type="range" id="xPos" name="xPos" min="0" max="7" value="0" oninput="updateXPos(this.value)">
        <span id="value-XPos">0</span>
        <br>

        <!-- >Y Slider -->
        <label for="yPos">Y-Pos:</label>
        <input type="range" id="yPos" name="yPos" min="0" max="7" value="0" oninput="updateYPos(this.value)">
        <span id="value-YPos">0</span>
        <br>

        <button type="submit">Test</button>

    </form>
    {% endif %}

    {% if route == "show_message" %}
    
    <form action="/show_message" method="POST">
        <!-- Text String Input -->
        <label for="text_string">Text String:</label>
        <input type="text" id="text_string" name="text_string" value="{{ text_string }}">
        <br><br>

        <!-- Scroll Speed Input -->
        <label for="scroll_speed">Scroll Speed:</label>
        <input type="range" id="scroll_speed" name="scroll_speed" min="0.01" max="1" step="0.01" value="{{ scroll_speed }}">
        <output>{{ scroll_speed }}</output>
        <br><br>

        <!-- Text Color Input (RGB) -->
        <label for="text_color">Text Color (RGB):</label>
        <input type="text" id="text_color" name="text_color" value="{{ text_color }}">
        <br><br>

        <!-- Background Color Input (RGB) -->
        <label for="back_color">Background Color (RGB):</label>
        <input type="text" id="back_color" name="back_color" value="{{ background_color }}">
        <br><br>

        <!-- Submit Button -->
        <button type="submit">Submit</button>
    </form>

    {% endif %}

    {% if route == "set_rotation" %}
    <form action="/set_rotation" method="POST">
        <label for="dropdown">Chose a color:</label>
        <select id="dropdown" name="dropdown">
            <option value="0">0</option>
            <option value="90">90</option>
            <option value="180">180</option>
            <option value="270">270</option>
        </select>
        <button type="submit">Test</button>

         <!-- Checkbox for Rotation Enable/Disable -->
         <label for="redraw">redraw:</label>
         <input type="checkbox" id="redraw" name="redraw">
         <br><br>
    </form>
    {% endif %}

    <a href="/">Home</a><br/>
    <script>
    function updateColorRed(value) {
        document.getElementById('value-red').textContent = value;
    }

    function updateColorGreen(value) {
        document.getElementById('value-green').textContent = value;
    }

    function updateColorBlue(value) {
        document.getElementById('value-blue').textContent = value;
    }

    function updateXPos(value) {
        document.getElementById('value-XPos').textContent = value;
    }

    function updateYPos(value) {
        document.getElementById('value-YPos').textContent = value;
    }
    </script>
</body>
</html>