<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--
# ------------------------------------------------------------------
# Name  : test_endpoints_page.html
# Source: https://raw.githubusercontent.com/walter-rothlin/RaspberryPi4PiPlates/refs/heads/main/LN/2024/HBU_MLZ/Rothlin_Walter/templates/test_endpoints_page.html
#
# Description: Test-Web-Page for the Sense-HAT
#
#
# Autor: Walter Rothlin
#
# History:
# 18-Dec-2024   Walter Rothlin      Initial Version
# ------------------------------------------------------------------
-->
<title>MySensHat</title>
</head>

<body>
<H1>Testresult: {{ test_result_string }}</H1>



<H2>Test-Endpoints</H2>
</body>
</html>

