<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test Endpoints Page</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <h1>Test Endpoints Page</h1>
        
        Result: {{ result_string }}<br>

        <br>
        Selected endpoint: {{ endpoint }}
        <form action="{{ url_for(endpoint) }}" method='POST'>
            <input type="text" name="param" id="param" value="{{ param }}">
            <input type="submit" value="Testen">
        </form>


    </body>
</html>